<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="">name</label>
        <input type="text" name="name">
        <label for="">id</label>
        <input type="text" name="id">
        <label for="">mobile num</label>
        <input type="text" name="mobile">
        <label for="">email id</label>
        <input type="email" name="email">
        <button>submit</button>
    </form>
</body>
</html>