<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='1.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'>
    
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/women">women</a></li>
            <li><a href="/kids">kids</a></li>
            <li><a href="/men">men</a></li>
            <li><a href="/home&living">home&living</a></li>
            <li><a href="/contact">contact Us</a></li>
            <li><input type="text" placeholder="Search" class="s"></li>
            <div class="l">
                <li><a href="/profile">profile</a></li>
                
                <li><a href="/wishlist">wishlist</a></li>
                <button class="bagb" >
                    <div class="bag">
                        <a href="/bagb">
                        <li><i class="fa-solid fa-bag-shopping" class="bagi" href="/bagb"></i></li>
                        <p class="count">0</p>
                    </a>
                    </div>
                </button>
            </div>

        </ul>
    </div>
    <div id="dress">
        
    </div>


</body>
<script src="2.js">

</script>
</html>